<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>View Subjects</title>
</head>
<body>
    <h2>All Subjects</h2>

<table>
  <tr>
    <th>Name</th>
    <th>Course</th>
    <th>Session</th>
    <th>Semester</th>
    <th>Teachers</th>
    <th>Actions</th>
  </tr>
  {% for subject in subjects %}
    <tr>
      <td>{{ subject.name }}</td>
      <td>{{ subject.course }}</td>
      <td>{{ subject.session }}</td>
      <td>{{ subject.semester }}</td>
      <td>
        <!-- {% for teacher in subject.teachers.all %}
          {{ teacher.user.get_full_name }}{% if not forloop.last %}, {% endif %}
        {% endfor %} -->
        {% for teacher in subject.teachers.all %}
          Username: {{ teacher.user.username }} <br>
          Full Name: {{ teacher.user.get_full_name }} <br>
          First Name: {{ teacher.user.first_name }} <br>
          Last Name: {{ teacher.user.last_name }} <br><br>
          {% endfor %}
      </td>
      <td>
        <a href="{% url 'edit_subject' subject.id %}">Edit</a> |
        <a href="{% url 'delete_subject' subject.id %}">Delete</a>
      </td>
    </tr>
  {% endfor %}
</table>

<a href="{% url 'add_subject' %}">Add Subject</a>
</body>
</html>
